*.log

*.py[codt]
__pycache__

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Sphinx
docs/_build

.webassets-cache

# Virtualenvs
env
env*
venv
